.128 { background-image: url('sprite.png'); background-position: -0px -0px; width: 128px; height: 128px; }
.16 { background-image: url('sprite.png'); background-position: -136px -0px; width: 16px; height: 16px; }
.badge-carfax { background-image: url('sprite.png'); background-position: -160px -0px; width: 112px; height: 37px; }
.bank-logo-ally { background-image: url('sprite.png'); background-position: -280px -0px; width: 124px; height: 71px; }
.bank-logo-bank-united { background-image: url('sprite.png'); background-position: -416px -0px; width: 281px; height: 30px; }
.bank-logo-td-auto-finance { background-image: url('sprite.png'); background-position: -416px -40px; width: 203px; height: 69px; }
.bullet4 { background-image: url('sprite.png'); background-position: -712px -0px; width: 12px; height: 20px; }
.certified-popover-arrow { background-image: url('sprite.png'); background-position: -736px -0px; width: 50px; height: 7px; }
.ChromeWebStore_Badge_Icon { background-image: url('sprite.png'); background-position: -712px -32px; width: 69px; height: 58px; }
.chrysler-s { background-image: url('sprite.png'); background-position: -632px -40px; width: 48px; height: 48px; }
.chrysler { background-image: url('sprite.png'); background-position: -136px -48px; width: 128px; height: 128px; }
.comment-bright { background-image: url('sprite.png'); background-position: -736px -16px; width: 16px; height: 16px; }
.comment-close { background-image: url('sprite.png'); background-position: -760px -16px; width: 16px; height: 16px; }
.comment { background-image: url('sprite.png'); background-position: -136px -24px; width: 16px; height: 16px; }
.deco-shadow-badge { background-image: url('sprite.png'); background-position: -784px -16px; width: 6px; height: 6px; }
.deco-shadow-price { background-image: url('sprite.png'); background-position: -688px -40px; width: 7px; height: 8px; }
.double-arrow { background-image: url('sprite.png'); background-position: -688px -56px; width: 15px; height: 14px; }
.down-pressed { background-image: url('sprite.png'); background-position: -272px -80px; width: 16px; height: 16px; }
.down { background-image: url('sprite.png'); background-position: -296px -80px; width: 16px; height: 16px; }
.drag-rectangle-off { background-image: url('sprite.png'); background-position: -320px -80px; width: 27px; height: 27px; }
.drag-rectangle-on { background-image: url('sprite.png'); background-position: -360px -80px; width: 28px; height: 28px; }
.dropdown-arrow { background-image: url('sprite.png'); background-position: -400px -80px; width: 12px; height: 17px; }
.drop_arrow { background-image: url('sprite.png'); background-position: -688px -80px; width: 9px; height: 5px; }
.east-mini { background-image: url('sprite.png'); background-position: -632px -96px; width: 18px; height: 18px; }
.error { background-image: url('sprite.png'); background-position: -664px -96px; width: 38px; height: 38px; }
.file { background-image: url('sprite.png'); background-position: -272px -104px; width: 16px; height: 16px; }
.filters-arrow { background-image: url('sprite.png'); background-position: -704px -40px; width: 7px; height: 12px; }
.filters-dropdown-arrow-white { background-image: url('sprite.png'); background-position: -296px -104px; width: 9px; height: 5px; }
.filters-dropdown-arrow { background-image: url('sprite.png'); background-position: -712px -104px; width: 9px; height: 5px; }
.homepage-filters-arrow-on { background-image: url('sprite.png'); background-position: -736px -104px; width: 11px; height: 6px; }
.homepage-filters-icon-model-on { background-image: url('sprite.png'); background-position: -760px -104px; width: 20px; height: 20px; }
.homepage-filters-icon-shield-on { background-image: url('sprite.png'); background-position: -296px -120px; width: 19px; height: 21px; }
.homepage-filters-icon-shield { background-image: url('sprite.png'); background-position: -328px -120px; width: 19px; height: 21px; }
.hotword { background-image: url('sprite.png'); background-position: -360px -120px; width: 38px; height: 38px; }
.icon-128 { background-image: url('sprite.png'); background-position: -408px -120px; width: 128px; height: 128px; }
.icon-16 { background-image: url('sprite.png'); background-position: -544px -120px; width: 16px; height: 16px; }
.icon-48 { background-image: url('sprite.png'); background-position: -568px -120px; width: 48px; height: 48px; }
.icon-avatar-suyc { background-image: url('sprite.png'); background-position: -712px -120px; width: 22px; height: 23px; }
.icon-chat-bubble-yellow { background-image: url('sprite.png'); background-position: -272px -128px; width: 24px; height: 22px; }
.icon-clock-dark { background-image: url('sprite.png'); background-position: -624px -128px; width: 34px; height: 34px; }
.icon-clock-small { background-image: url('sprite.png'); background-position: -0px -136px; width: 25px; height: 25px; }
.icon-close-small { background-image: url('sprite.png'); background-position: -744px -120px; width: 14px; height: 14px; }
.icon-double-arrow { background-image: url('sprite.png'); background-position: -40px -136px; width: 9px; height: 12px; }
.icon-green-chat-bubble { background-image: url('sprite.png'); background-position: -64px -136px; width: 24px; height: 21px; }
.icon-green-phone { background-image: url('sprite.png'); background-position: -96px -136px; width: 17px; height: 23px; }
.icon-location-green { background-image: url('sprite.png'); background-position: -768px -136px; width: 16px; height: 21px; }
.icon-model-black { background-image: url('sprite.png'); background-position: -544px -144px; width: 21px; height: 22px; }
.icon-phone-dark { background-image: url('sprite.png'); background-position: -672px -144px; width: 24px; height: 33px; }
.icon-price { background-image: url('sprite.png'); background-position: -744px -144px; width: 23px; height: 23px; }
.icon-print { background-image: url('sprite.png'); background-position: -304px -152px; width: 22px; height: 19px; }
.icon-search-big { background-image: url('sprite.png'); background-position: -336px -152px; width: 22px; height: 24px; }
.icon-search { background-image: url('sprite.png'); background-position: -704px -152px; width: 18px; height: 19px; }
.icon-sell-your-car-off { background-image: url('sprite.png'); background-position: -272px -160px; width: 28px; height: 23px; }
.icon-sell-your-car-on { background-image: url('sprite.png'); background-position: -40px -168px; width: 28px; height: 23px; }
.icon_128 { background-image: url('sprite.png'); background-position: -544px -176px; width: 128px; height: 128px; }
.icon_16 { background-image: url('sprite.png'); background-position: -80px -168px; width: 16px; height: 16px; }
.icon_24 { background-image: url('sprite.png'); background-position: -104px -168px; width: 24px; height: 24px; }
.kbb-logo { background-image: url('sprite.png'); background-position: -136px -184px; width: 81px; height: 100px; }
.layer-switcher-maximize { background-image: url('sprite.png'); background-position: -368px -168px; width: 18px; height: 18px; }
.layer-switcher-minimize { background-image: url('sprite.png'); background-position: -0px -176px; width: 18px; height: 18px; }
.lightbrown_zip { background-image: url('sprite.png'); background-position: -232px -192px; width: 128px; height: 128px; }
.logo-small-facebook { background-image: url('sprite.png'); background-position: -704px -184px; width: 70px; height: 14px; }
.logo-small-twitter { background-image: url('sprite.png'); background-position: -32px -200px; width: 62px; height: 14px; }
.marker-blue { background-image: url('sprite.png'); background-position: -680px -192px; width: 21px; height: 25px; }
.marker-gold { background-image: url('sprite.png'); background-position: -104px -200px; width: 21px; height: 25px; }
.marker-green { background-image: url('sprite.png'); background-position: -368px -200px; width: 21px; height: 25px; }
.marker { background-image: url('sprite.png'); background-position: -0px -208px; width: 21px; height: 25px; }
.measuring-stick-off { background-image: url('sprite.png'); background-position: -712px -208px; width: 28px; height: 28px; }
.measuring-stick-on { background-image: url('sprite.png'); background-position: -752px -208px; width: 28px; height: 28px; }
.minus { background-image: url('sprite.png'); background-position: -776px -168px; width: 11px; height: 11px; }
.north-mini { background-image: url('sprite.png'); background-position: -32px -224px; width: 18px; height: 18px; }
.off { background-image: url('sprite.png'); background-position: -64px -224px; width: 38px; height: 38px; }
.panning-hand-off { background-image: url('sprite.png'); background-position: -680px -232px; width: 28px; height: 28px; }
.panning-hand-on { background-image: url('sprite.png'); background-position: -368px -240px; width: 28px; height: 28px; }
.plus { background-image: url('sprite.png'); background-position: -112px -240px; width: 11px; height: 11px; }
.quote-marks-big { background-image: url('sprite.png'); background-position: -408px -256px; width: 100px; height: 76px; }
.rdp_icon-128 { background-image: url('sprite.png'); background-position: -0px -272px; width: 128px; height: 128px; }
.rdp_icon-16 { background-image: url('sprite.png'); background-position: -0px -248px; width: 16px; height: 16px; }
.rdp_icon-48 { background-image: url('sprite.png'); background-position: -720px -248px; width: 48px; height: 48px; }
.rectangle_sub { background-image: url('sprite.png'); background-position: -680px -272px; width: 35px; height: 35px; }
.rectangle_sub2x { background-image: url('sprite.png'); background-position: -136px -296px; width: 70px; height: 70px; }
.red { background-image: url('sprite.png'); background-position: -368px -280px; width: 35px; height: 35px; }
.red2x { background-image: url('sprite.png'); background-position: -520px -312px; width: 70px; height: 70px; }
.red_sub { background-image: url('sprite.png'); background-position: -728px -304px; width: 28px; height: 28px; }
.red_sub2x { background-image: url('sprite.png'); background-position: -600px -312px; width: 56px; height: 56px; }
.roundedRectangle { background-image: url('sprite.png'); background-position: -664px -320px; width: 35px; height: 35px; }
.roundedRectangle2x { background-image: url('sprite.png'); background-position: -216px -328px; width: 70px; height: 70px; }
.roundedRectangle_sub { background-image: url('sprite.png'); background-position: -296px -328px; width: 35px; height: 35px; }
.roundedRectangle_sub2x { background-image: url('sprite.png'); background-position: -344px -344px; width: 70px; height: 70px; }
.share-button-email { background-image: url('sprite.png'); background-position: -424px -344px; width: 61px; height: 20px; }
.slider-arrow-bottom { background-image: url('sprite.png'); background-position: -400px -112px; width: 13px; height: 6px; }
.slider-arrow-left { background-image: url('sprite.png'); background-position: -272px -48px; width: 6px; height: 13px; }
.slider-arrow-right { background-image: url('sprite.png'); background-position: -128px -136px; width: 7px; height: 14px; }
.slider-arrow-top { background-image: url('sprite.png'); background-position: -40px -160px; width: 13px; height: 6px; }
.slider { background-image: url('sprite.png'); background-position: -24px -256px; width: 20px; height: 9px; }
.south-mini { background-image: url('sprite.png'); background-position: -520px -256px; width: 18px; height: 18px; }
.speech { background-image: url('sprite.png'); background-position: -712px -344px; width: 38px; height: 38px; }
.stampAccept { background-image: url('sprite.png'); background-position: -664px -368px; width: 35px; height: 35px; }
.stampAccept2x { background-image: url('sprite.png'); background-position: -136px -376px; width: 70px; height: 70px; }
.stampAccept_sub { background-image: url('sprite.png'); background-position: -296px -376px; width: 35px; height: 35px; }
.stampAccept_sub2x { background-image: url('sprite.png'); background-position: -424px -376px; width: 70px; height: 70px; }
.stampExclaim { background-image: url('sprite.png'); background-position: -600px -376px; width: 35px; height: 35px; }
.stampExclaim2x { background-image: url('sprite.png'); background-position: -504px -392px; width: 70px; height: 70px; }
.stampExclaim_sub { background-image: url('sprite.png'); background-position: -712px -392px; width: 35px; height: 35px; }
.stampExclaim_sub2x { background-image: url('sprite.png'); background-position: -0px -408px; width: 70px; height: 70px; }
.stampPerfect { background-image: url('sprite.png'); background-position: -80px -408px; width: 35px; height: 35px; }
.stampPerfect2x { background-image: url('sprite.png'); background-position: -216px -408px; width: 70px; height: 70px; }
.stampPerfect_sub { background-image: url('sprite.png'); background-position: -648px -416px; width: 35px; height: 35px; }
.stampPerfect_sub2x { background-image: url('sprite.png'); background-position: -296px -424px; width: 70px; height: 70px; }
.stampQuestion { background-image: url('sprite.png'); background-position: -376px -424px; width: 35px; height: 35px; }
.stampQuestion2x { background-image: url('sprite.png'); background-position: -696px -440px; width: 70px; height: 70px; }
.stampQuestion_sub { background-image: url('sprite.png'); background-position: -584px -424px; width: 35px; height: 35px; }
.stampQuestion_sub2x { background-image: url('sprite.png'); background-position: -80px -456px; width: 70px; height: 70px; }
.stampReject { background-image: url('sprite.png'); background-position: -160px -456px; width: 35px; height: 35px; }
.stampReject2x { background-image: url('sprite.png'); background-position: -424px -456px; width: 70px; height: 70px; }
.stampReject_sub { background-image: url('sprite.png'); background-position: -632px -464px; width: 35px; height: 35px; }
.stampReject_sub2x { background-image: url('sprite.png'); background-position: -504px -472px; width: 70px; height: 70px; }
.stay-in-touch-facebook { background-image: url('sprite.png'); background-position: -160px -504px; width: 130px; height: 27px; }
.stay-in-touch-instagram { background-image: url('sprite.png'); background-position: -584px -520px; width: 164px; height: 46px; }
.stay-in-touch-twitter { background-image: url('sprite.png'); background-position: -0px -488px; width: 50px; height: 41px; }
.stories-carscom { background-image: url('sprite.png'); background-position: -304px -504px; width: 111px; height: 47px; }
.stories-dealerrater { background-image: url('sprite.png'); background-position: -0px -544px; width: 100px; height: 74px; }
.tabs-sidebar-arrow { background-image: url('sprite.png'); background-position: -776px -248px; width: 10px; height: 50px; }
.text { background-image: url('sprite.png'); background-position: -584px -472px; width: 35px; height: 35px; }
.text2x { background-image: url('sprite.png'); background-position: -424px -536px; width: 70px; height: 70px; }
.up-pressed { background-image: url('sprite.png'); background-position: -520px -288px; width: 16px; height: 16px; }
.up { background-image: url('sprite.png'); background-position: -216px -296px; width: 16px; height: 16px; }
.west-mini { background-image: url('sprite.png'); background-position: -768px -312px; width: 18px; height: 18px; }
.white { background-image: url('sprite.png'); background-position: -112px -536px; width: 35px; height: 35px; }
.white2x { background-image: url('sprite.png'); background-position: -160px -544px; width: 70px; height: 70px; }
.white_sub { background-image: url('sprite.png'); background-position: -760px -344px; width: 28px; height: 28px; }
.white_sub2x { background-image: url('sprite.png'); background-position: -240px -544px; width: 56px; height: 56px; }
.yellow { background-image: url('sprite.png'); background-position: -504px -552px; width: 35px; height: 35px; }
.yellow2x { background-image: url('sprite.png'); background-position: -304px -560px; width: 70px; height: 70px; }
.zip { background-image: url('sprite.png'); background-position: -552px -576px; width: 128px; height: 128px; }
.zoom-minus-mini { background-image: url('sprite.png'); background-position: -496px -344px; width: 18px; height: 18px; }
.zoom-plus-mini { background-image: url('sprite.png'); background-position: -760px -384px; width: 18px; height: 18px; }
.zoom-world-mini { background-image: url('sprite.png'); background-position: -760px -416px; width: 18px; height: 18px; }
.zoombar { background-image: url('sprite.png'); background-position: -760px -520px; width: 18px; height: 264px; }